body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    margin: 0;

}
a{
	text-decoration: none;
	list-style: none;
	color: black;
}
.mainnav{
	text-align: end;
	margin-top: 10px;
	margin-right: 15px;
}
.mainnav a{
	text-decoration: none;
	color: black;
}
.mainnav a button{
	background-color: blue;
	color:white;
	height: 2.5em;
}

.mainimage{
	margin-top: 110px;
}
.mainimage img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	height:100px; 
}
#searchbox{
	text-align: center;

}
#searchbox input{
	width: 50%;
	height: 3.5em;
	border:51%;
	color: whitesmoke;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.submit{
	text-align: center;
}

.submit button{
	height: 2.5em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-color: whitesmoke;
	width:12.5%;

}
.languages{
	text-align: center;
	color: black;
} 
}
.languages a{
	color: black;
	text-decoration: none;
}

#main{
	background: whitesmoke;
	color: black;
	margin-left: 20px;
}
#sidebar{
	background: whitesmoke;
	color: black;
	margin-left: 20px;
}
#main a{
	color: black;
	background-color: whitesmoke;
	font-weight: lighter;
}
#sidebar a{
	color: black;
	background-color: whitesmoke;
	font-weight: lighter;
}
footer{
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	position:relative;
	height: 88px;
}
footer h5{
	font-weight: lighter;
	margin-left: 20px;
	color: black;
	font-size: 13px;
}
#main a{
	float: left;
	width: 115px;
}
#sidebar a{
	float: right;
	width: 60px;
}